html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	text-align: center;

	--background: white;
	--accent: rgba(0, 217, 255, 0.316);
	--title: #141414;
	--arrow: black;
	--hover: #edf2f7;

	background-color: var(--background);
}

.dark-mode {
	--background: #1b202c;
	--accent: #82e6d9;
	--title: white;
	--arrow: var(--accent);
	--hover: rgba(255, 255, 255, 0.08);

	color: white;
}

a {
	color: inherit;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
	font-weight: 500;
}
